<footer>
    <span><b style="color:rgb(0, 255, 136)"><a href="/">O Balconista</a></b> é a plataforma ideal para otimizar o trabalho de balconistas de farmácia. <a href="https://github.com/matheushslopesdev" target="_blank">@Devlopes</a></span>
</footer>