@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    font-family: "Roboto Mono", serif;
    font-size: large;
}


.box-regra{
    width: 70%;
    height: 100vh;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    

}

.receita{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    
    
}

.tipo-receita{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
   
}

.box-caracteristicas{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gap{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.caracteristicas{
    margin-top: 10px;
    width:70%;
    display: flex;
    align-items: start;


    & ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    & li{
        margin-bottom: 10px;
    }
}

.aling{
    display: flex;
    width: 70%;
    padding: 30px;
    align-items: start;
    text-align: start;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #212121;
}


@media only screen and (max-width: 600px) {
   

    .conteudo-div{
        text-align: auto;
        width: 100%;
        background-color: white;
    }

    .aling{
        width: 100%;
    }
  }
