@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.container-data span{
    font-family: "Roboto Mono", serif;
    font-size: large;
}

.texto-container{
    & span{
        background-color: #ff3 ;
    }
    
}

.texto-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-container p{
    margin-bottom: 10px;
}

.texto-container li{
    margin-bottom: 10px;
    
}

ul li{
    list-style: none;
}


@media only screen and (max-width: 600px) {
   

    .conteudo-div{
        text-align: auto;
        width: 100%;
        background-color: white;
    }
  }
