<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-2763977508114521">
    <meta name="description" content="Plataforma completa para balconistas de farmácia, com busca de medicamentos, cálculo de preços e mais ferramentas para facilitar seu dia a dia.">
    <meta name="keywords" content="farmácia, balconista, ferramentas para farmácia, busca de medicamentos, interações medicamentosas">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="/img/obicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/regrasReceita.css">
    <title>Regras Receita B -  O Balconista</title>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    
    <div class="container">
        
        <div class="box-regra">
            <div class="receita">
                <h1>Notificação de Receita B</h1>
            </div>
            <!--
                <div class="tipo-receita">
                <h3>A1 e A2: substâncias entorpecentes</h3>
                <h3>A3: substâncias psicotrópicas</h3>
            </div>
            -->
            

            <div class="gap"></div>
            <div class="box-caracteristicas">
                <div class="caracteristicas">
                    <h2>Características:</h2>
                </div>
                
                <div class="caracteristicas aling">
    
                    <ul>
                        <li>
                            <p>• A receita é válida por 30 dias, contando o dia da prescrição como dia 1</p>
                        </li>
                        <li>
                            <p>• É válida apenas no estado onde foi emitida</p>
                        </li>
                        <li>
                            <p>• Só pode prescrever um medicamento por receita </p>
                        </li>
                        <li>
                            <p>• É usada para prescrever substâncias Psicotrópicas e Anorexígenas</p>
                        </li>
                    </ul>
                    
                   
                    
                </div>
            </div>
           
        </div>
    </div>
       
        
        

        
        <%- include('../partials/footer.ejs'); %>
    
    <script src="./js/validadeReceita.js"></script>
</body>
</html>