<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-2763977508114521">
    <meta name="description" content="Plataforma completa para balconistas de farmácia, com busca de medicamentos, cálculo de preços e mais ferramentas para facilitar seu dia a dia.">
    <meta name="keywords" content="farmácia, balconista, ferramentas para farmácia, busca de medicamentos, interações medicamentosas">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="/img/obicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/validadeReceita.css">
    <title>Calculadora de Dias -  O Balconista</title>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    
    <div class="container">
        <div class="container-data">
            <label>Selecione a Receita</label>
            <select name="tipoReceita" id="tipo-receita">
                <option value="popular">Popular</option>
                <option value="antimicrobiano">Antimicrobiana</option>
                <option value="receitacomum">Receituario Comum</option>
            </select>
            <label>Data Inicial</label>
            <input type="date" id="inicial">
            <label>Data Final</label>
            <input type="date" id="final">
            <input type="button" id="btn-calc" value="Calcular">
            <p id="resultado"></p>
        </div>
       
        
        

        
        <%- include('../partials/footer.ejs'); %>
    
    <script src="./js/validadeReceita.js"></script>
</body>
</html>